.emphasizeDescription{
    color: rgb(237, 108, 108);
    font-size: 30pt;
}

.codeLlamaDescription{
margin-top: 15rem;
margin-left: 10rem;
padding: 20px;
display: flex;
justify-content: center;
gap: 20px;
color: white;
}

.descriptionColumn {
flex: 1;
padding: 10px;
max-width: 700px;
}